.category-page-item-wrapper {
  max-width: 78%;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
}

.category-name {
  text-align: left;
  font-size: 36px;
  padding-top: 65px;
  height: 190px;
  width: 70.4%;
  vertical-align: center;
  margin: 0 auto;  
}