.nav-bar .link-selected {
  text-decoration: none;
  color: #5ECE7B;
}

.nav-bar .link {
  text-decoration: none;
  color: #1D1F22;
}

.nav-bar-styling-underline {
  border: 2px;
}

.header-button-wrapper {
  min-width: 115px;
}
