.image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.small-image-container {
  height: 100%;
  width: 150px;
}

.big-image-container {
  justify-content: center;
  vertical-align: middle;
  max-height: 600px;
}

.big-image {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.small-image {
  margin-bottom: 30px;
  width: 80px;
  object-fit: contain;
  height: 80px;
}

.small-image:hover {
  cursor: pointer
}